@using Frontend.Entities
@using Frontend.Service
@inject IUserSearchModel UserSearchModel
@inject IGetAllUsersModel GetAllUsers
@inject NavigationManager NavManager
@using Blazorise
@using Frontend.Model.GetAllUsers
@using Frontend.Model.UserSearch
@using Frontend.Network.GetAllUsers

<PageTitle>Search User</PageTitle>

@if (isDataFetched)
{
    <div class="page-content">
        <h3>Search Result User</h3>
        <Button Color="Color.Primary" Clicked="@ShowAllUsers">Show All Users</Button>

        @if (userList.Count == 0)
        {
            <p size="20px">No such user exists.</p>
        }
        <Table Hoverable Striped>
            <TableHeader>
                <TableRow>
                    <TableHeaderCell>Profile Picture</TableHeaderCell>
                    <TableHeaderCell>
                        <div>
                            Username
                            <Button Color="Color.Secondary" Clicked="SortByDisplayName">
                                <Icon Name="@IconName.AngleDown"/>
                            </Button>
                        </div>
                    </TableHeaderCell>
                    <TableHeaderCell>
                        <div>
                            Number Rated Movies
                            <Button Color="Color.Secondary" Clicked="SortByNumberOfVotedMovies">
                                <Icon Name="@IconName.AngleDown"/>
                            </Button>
                        </div>
                    </TableHeaderCell>
                </TableRow>
            </TableHeader>
            <TableBody>
                @foreach (User user in userList)
                {
                    <TableRow @onclick="@(() => OnUserClick(user.Id))">
                        <TableRowCell >
                            <img src="@(!string.IsNullOrEmpty(user.ProfilePicture) ? user.ProfilePicture : defaultProfilePicture)" alt="profile pic" width="auto" height="200">
                        </TableRowCell>
                        <TableRowCell >@user.Username</TableRowCell>
                        <TableRowCell >@user.RatedMovies</TableRowCell>

                    </TableRow>
                }
            </TableBody>
        </Table>

        <div class="page-navigation">
            <button class="btn btn-secondary" @onclick="@GoToPreviousPage">
                <Icon Name="@IconName.AngleLeft"/>
            </button>
            <div class="page-number">
                <p> Page @(lastUsedMethodIsSearch ? searchPageNumber  : getAllPageNumber)  </p>
            </div>
            <button class="btn btn-secondary" @onclick="@GoToNextPage">
                <Icon Name="@IconName.AngleRight"/>
            </button>
        </div>
    </div>
}
else
{
    @if (isConnected)
    {
        <Loading/>
    }
}

@code {

    [Parameter]
    public string DisplayName { get; set; }

    private string defaultProfilePicture = "/Images/NotFoundImage.jpg";
    private bool fetchAll = false;
    private IList<User> userList = new List<User>();
    public bool isDataFetched = false;
    private int searchPageNumber { get; set; } = 1;
    private int getAllPageNumber { get; set; } = 1;
    private int usersPerPage = 10;
    private SortingDirection2? sortingDirection;


    private bool lastUsedMethodIsSearch;

    protected override async Task OnParametersSetAsync()
    {
        DisplayName = DisplayName;
      
        await SearchForUser();
    }

    private async Task SearchForUser()
    {
        isDataFetched = false;
        userList.Clear();
        if (userSortingKey == UserSortingKey.MoviesVoted)
        {
            sortingDirection = ratingSortingDirection;
        }
        else if (userSortingKey == UserSortingKey.DisplayName)
        {
            sortingDirection = displayNameSortingDirection;
        }
        userList = await UserSearchModel.SearchForUserAsync(DisplayName, userSortingKey, ratingSortingDirection, searchPageNumber);
        isDataFetched = true;
        lastUsedMethodIsSearch = true;
        getAllPageNumber = 1;
    }


    private SortingDirection2 ratingSortingDirection = SortingDirection2.ASC;
    private SortingDirection2 displayNameSortingDirection = SortingDirection2.ASC;
    private UserSortingKey? userSortingKey;

    private bool isConnected;


    private async Task SortByNumberOfVotedMovies()
    {
        if (lastUsedMethodIsSearch)
        {
            userSortingKey = UserSortingKey.MoviesVoted;
            ratingSortingDirection = ratingSortingDirection == SortingDirection2.ASC ? SortingDirection2.DESC : SortingDirection2.ASC;
            searchPageNumber = 1;
            await SearchForUser();
        }
        else
        {
            userSortingKeyForAll = UserSortingKey2.MoviesVoted;
            sortingDirectionForAll = sortingDirectionForAll == SortingDirection3.ASC ? SortingDirection3.DESC : SortingDirection3.ASC;
            searchPageNumber = 1;
            await ShowAllUsers();
        }
    }

    private async Task SortByDisplayName()
    {
        if (lastUsedMethodIsSearch)
        {
            userSortingKey = UserSortingKey.DisplayName;
            displayNameSortingDirection = displayNameSortingDirection == SortingDirection2.ASC ? SortingDirection2.DESC : SortingDirection2.ASC;
            searchPageNumber = 1;
            await SearchForUser();
        }
        else
        {
            userSortingKeyForAll = UserSortingKey2.DisplayName;
            sortingDirectionForAll = sortingDirectionForAll == SortingDirection3.ASC ? SortingDirection3.DESC : SortingDirection3.ASC;
            searchPageNumber = 1;
            await ShowAllUsers();
        }
    }


    private void OnUserClick(string userId)
    {
        NavManager.NavigateTo($"UserProfile/{userId}");
    }

    private async Task GoToPreviousPage()
    {
        if (lastUsedMethodIsSearch)
        {
            if (searchPageNumber <= 1)
            {
                return;
            }
            searchPageNumber--;
            await SearchForUser();
        }
        else
        {
            if (getAllPageNumber <= 1)
            {
                return;
            }
            getAllPageNumber--;

            await ShowAllUsers();
        }
    }

    private async Task GoToNextPage()
    {
        if (userList.Count < usersPerPage)
        {
            return;
        }
        searchPageNumber++;
        getAllPageNumber++;

        if (lastUsedMethodIsSearch)
        {
            await SearchForUser();
        }
        else
        {
            await ShowAllUsers();
        }
    }


    protected override void OnAfterRender(bool firstRender)
    {
        isConnected = !firstRender;
    }

    private SortingDirection3 sortingDirectionForAll = SortingDirection3.ASC;
    private UserSortingKey2? userSortingKeyForAll;

    

    private async Task ShowAllUsers()
    {
        searchPageNumber = 1;
        userList.Clear();
        userList = await GetAllUsers.GetAllUsersAsync(userSortingKeyForAll, sortingDirectionForAll, getAllPageNumber);

        isDataFetched = true;
        lastUsedMethodIsSearch = false;
    }
    

}