@using Frontend.Entities
@using Frontend.Service
@inject IUserSearchModel UserSearchModel
@inject NavigationManager NavManager
@using Blazorise
@using Frontend.Model.UserSearch
@using Blazorise.LottieAnimation

<PageTitle>Search User</PageTitle>

@if (isDataFetched)
{
    <div class="page-content">
        <h3>Search Result User</h3>

        @if (userList.Count == 0)
        {
            <p size="20px">No such user exists.</p>
        }
        <Table Hoverable Striped>
            <TableHeader>
                <TableRow>
                    <TableHeaderCell>Profile Picture</TableHeaderCell>
                    <TableHeaderCell>
                        <div>
                            Username
                            <Button Color="Color.Secondary" Clicked="SortByDisplayName">
                                <Icon Name="@IconName.AngleDown"/>
                            </Button>
                        </div>
                    </TableHeaderCell>
                    <TableHeaderCell>
                        <div>
                            Number Rated Movies
                            <Button Color="Color.Secondary" Clicked="SortByNumberOfVotedMovies">
                                <Icon Name="@IconName.AngleDown"/>
                            </Button>
                        </div>
                    </TableHeaderCell>
                </TableRow>
            </TableHeader>
            <TableBody>
                @foreach (User user in userList)
                {
                    <TableRow @onclick="@(() => OnUserClick(user.Id))">
                        <TableRowCell>
                            <img src="@user.ProfilePicture" height="200"/>
                        </TableRowCell>
                        <TableRowCell>@user.Username</TableRowCell>
                        <TableRowCell>@user.RatedMovies</TableRowCell>

                    </TableRow>
                }
            </TableBody>
        </Table>

        <div class="page-navigation">
            <button class="btn btn-secondary" @onclick="@GoToPreviousPage">
                <Icon Name="@IconName.AngleLeft"/>
            </button>
            <div class="page-number">
                <p>Page @pageNumber</p>
            </div>
            <button class="btn btn-secondary" @onclick="@GoToNextPage">
                <Icon Name="@IconName.AngleRight"/>
            </button>
        </div>
    </div>
}

@code {

    [Parameter]
    public string DisplayName { get; set; }

    private IList<User> userList = new List<User>();
    public bool isDataFetched = false;
    private int pageNumber { get; set; }
    private int usersPerPage = 10;
    private UserSortingKey? userSortingKey;

    protected override async Task OnParametersSetAsync()
    {
        pageNumber = 1;
        await SearchForUser();
    }

    private async Task SearchForUser()
    {
        isDataFetched = false;
        userList.Clear();
        if (userSortingKey == UserSortingKey.MoviesVoted)
        {
            sortingDirection = sortingDirection;
        }
        else if (userSortingKey == UserSortingKey.DisplayName)
        {
            sortingDirection = displayNameSortingDirection;
        }
        userList = await UserSearchModel.SearchForUserAsync(DisplayName, userSortingKey, sortingDirection, pageNumber);
        isDataFetched = true;
    }
   

    private SortingDirection2 sortingDirection = SortingDirection2.ASC;
    private SortingDirection2 displayNameSortingDirection = SortingDirection2.ASC;

    private async Task SortByNumberOfVotedMovies()
    {
        userSortingKey = UserSortingKey.MoviesVoted;
        sortingDirection = sortingDirection == SortingDirection2.ASC ? SortingDirection2.DESC : SortingDirection2.ASC;
        pageNumber = 1;
        await SearchForUser();
    }
    
    private async Task SortByDisplayName()
    {
        userSortingKey = UserSortingKey.DisplayName;
        displayNameSortingDirection = displayNameSortingDirection == SortingDirection2.ASC ? SortingDirection2.DESC : SortingDirection2.ASC;
        pageNumber = 1;
        await SearchForUser();
    }

    
    private void OnUserClick(string userId)
    {
        NavManager.NavigateTo($"UserProfile/{userId}");
    }

    private async void GoToPreviousPage()
    {
        if (pageNumber <= 1)
        {
            return;
        }
        pageNumber--;
        await SearchForUser();
    }

    private async void GoToNextPage()
    {
        if (userList.Count < usersPerPage)
        {
            return;
        }
        pageNumber++;
        await SearchForUser();
    }

}