
@using Frontend.Entities
@using Frontend.Service
@inject IUserSearchModel UserSearchModel
@inject NavigationManager NavManager
@using Blazorise
@using Frontend.Model.UserSearch
@using Blazorise.LottieAnimation

<PageTitle>Search User</PageTitle>

@if (isDataFetched)
{
    <div class="page-content">
        <h3>Search Result</h3>

        @if (userList.Count == 0)
        {
            <p size="20px">No such user exists.</p>
        }
        <Table Hoverable Striped>
            <TableHeader>
                <TableRow>
                    <TableHeaderCell>Profile Picture</TableHeaderCell>
                    <TableHeaderCell>Username</TableHeaderCell>
                </TableRow>
            </TableHeader>
            <TableBody>
                @foreach(User user in userList)
                {
                    <TableRow @onclick="@(() => OnUserClick(user.Id))">
                        <TableRowCell><img src="@user.ProfilePicture" height="200"/></TableRowCell>
                        <TableRowCell>@user.Username</TableRowCell>
                    </TableRow> 
                }
            </TableBody>
        </Table>
        
        <div class="page-navigation">
            <button class="btn btn-secondary" @onclick="@GoToPreviousPage">
                <Icon Name="@IconName.AngleLeft"/>
            </button>
            <div class="page-number">
                <p>Page @pageNumber</p>
            </div>
            <button class="btn btn-secondary" @onclick="@GoToNextPage">
                <Icon Name="@IconName.AngleRight"/>
            </button>
        </div>
    </div>
}
else
{
    <LottieAnimation Path="/Animations/loadingAimation.json" Style="height: 200px"/>
}

@code {
    [Parameter]
    public string Username { get; set; }
    private IList<User> userList = new List<User>();
    public bool isDataFetched = false;
    private int pageNumber { get; set; }
    private int usersPerPage = 10;

    protected override async Task OnParametersSetAsync()
    {
        pageNumber = 1;
        await SearchForUser();
    }

    private async Task SearchForUser()
    {
        isDataFetched = false;
        userList.Clear();
        userList = await UserSearchModel.SearchForUserAsync(Username, pageNumber);
        isDataFetched = true;
    }

    private void OnUserClick(string userId)
    {
        NavManager.NavigateTo($"userProfile/{userId}");
    }

    private async void GoToPreviousPage()
    {
        if (pageNumber <= 1)
        {
            return;
        }
        pageNumber--;
        await SearchForUser();
    }

    private async void GoToNextPage()
    {
        if (userList.Count < usersPerPage)
        {
            return;
        }
        pageNumber++;
        await SearchForUser();
    }

}