@page "/ActorDetails/{actorId}"
@using Blazorise
@using Frontend.Entities
@using Frontend.Model.Actor
@inject IActorModel ActorModel
@inject NavigationManager NavManager
<h3>Actor</h3>

<div class="actor-container">
    <Row>
        <Column ColumnSize="ColumnSize.Is3">
            <Div Display="Display.Flex" Flex="Flex.JustifyContent.Center">
                <img src="@_actor.ImageUrl"/>
            </Div>
    
        </Column>
        <Column ColumnSize="ColumnSize.Is9">
            <Row>
                <Row><h2>@_actor.Name</h2></Row>
                <Row><h4>Biography</h4></Row>
                <Row><h6>@_actor.Bio</h6></Row>
            </Row>
            <Divider/>
            <Row>
                <Column>
                    <Row><h6>Birthyear</h6></Row>
                    <Row>@_actor.BirthYear</Row>
                </Column>
                <Column>
                    
                </Column>
                <Column>
                    
                </Column>
            </Row>
        </Column>
    </Row>
    <Row>
        <Table Hoverable Striped>
            <TableHeader>
                <TableRow>
                    <TableHeaderCell>Poster</TableHeaderCell>
                    <TableHeaderCell>Title</TableHeaderCell>
                    <TableHeaderCell>Release Year</TableHeaderCell>
                    <TableHeaderCell>Rating</TableHeaderCell>
                </TableRow>
            </TableHeader>
            <TableBody>
                @foreach(Movie movie in _actor.ActedInList)
                {
                    <TableRow @onclick="@(() => OnMovieClick(movie.Id))">
                        <TableRowCell></TableRowCell>
                        <TableRowCell>@movie.Title</TableRowCell>
                        <TableRowCell>@movie.ReleaseYear</TableRowCell>
                        <TableRowCell></TableRowCell>
                    </TableRow> 
                }
            </TableBody>
        </Table>
    </Row>
</div>




@code {

    [Parameter] public string ActorId { get; set; }
    

    private Actor _actor;

    protected override async Task OnInitializedAsync()
    {
       _actor=  await ActorModel.GetActorDetails(ActorId);
    }
    

    private void OnMovieClick(string movieId)
    {
        NavManager.NavigateTo($"movieDetails/{movieId}");
    }

}