@page "/SearchResult/{movieTitle}"
@using Frontend.Entities
@using Frontend.Model.MovieSearchModel
@using Frontend.Service
@inject IMovieSearchModel MovieSearchModel
@inject NavigationManager NavManager

<link rel="stylesheet" href="MovieSearch.razor.css">

<PageTitle>Search Result</PageTitle>

<h3>Search Result</h3>

<div class="sort-by">
    <label for="sortBy">Sort by:</label>
    <select name="sortBy">
        <option value=""></option>
        <option value="rating">Rating</option>
        <option value="releaseYear">Release Year</option>
    </select>
</div>

<table>
    <thead>
    <tr>
        <th>Poster</th>
        <th>Title</th>
        <th>ReleaseYear <button class="btn btn-secondary" @onclick="SortByReleaseYear">V</button></th>
        <th>Rating <button class="btn btn-secondary" @onclick="SortByRating">V</button></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var movie in movieList)
    {
        <tr @onclick="@(() => OnMovieClick(movie.Id))">
            <td><img src="@movie.PosterUrl" alt="Image" height="200"></td>
            <td>@movie.Title</td>
            <td>@movie.ReleaseYear</td>
            <td>@movie.Rating.AverageRating</td>
        </tr>
    }
    </tbody>
</table>

<div class="page-navigation">
    <button class="btn btn-secondary">{</button>
    <p>Page @pageNumber</p>
    <button class="btn btn-secondary">}</button>
</div>

@code {
    [Parameter]
    public string MovieTitle { get; set; }
    private IList<Movie> movieList = new List<Movie>();
    private string movieTitle { get; set; }
    private int pageNumber { get; set; }

    protected override async void OnParametersSet()
    {
        movieTitle = MovieTitle;
        pageNumber = 1;
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await SearchForMovie();
            StateHasChanged(); 
        }
    }

    private async Task SearchForMovie()
    {
        movieList.Clear();
        movieList = await MovieSearchModel.SearchForMovieAsync(movieTitle);
    }

    private void OnMovieClick(string movieId)
    {
        NavManager.NavigateTo($"movieDetails/{movieId}");
    }

    private async Task SortByRating()
    {
        movieList.Clear();
        movieList = await MovieSearchModel.SearchForMovieAsync(movieTitle, MovieSortingKey.Rating, SortingDirection.DESC, pageNumber);
    }

    private async Task SortByReleaseYear()
    {
        movieList.Clear();
        movieList = await MovieSearchModel.SearchForMovieAsync(movieTitle, MovieSortingKey.ReleaseYear, SortingDirection.DESC, pageNumber);
    }

}
